.headlines{
    /* max-width: 675px; */
    width: 100%;
  }
  
  .main-card{
    width: 100%;
  }

  .slide-control{
    position: absolute;
    z-index: 3;
    right: 1px;
  }
  
  .slide-control-dots{
    width: 20px;
    height: 90px;
    z-index: 4;
    /* padding-left: 655px; */
    padding-top: 10px;
    margin-left: auto;
  }
  
  .slide-control-dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .slide-control-dot-active{
    background-color: #E84393;
  }

  .slide-control-dot-inactive{
    background-color: black;
  }

  .overlay{
    background-color: rgba(0,0,0,0.7);
    height: 300px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    z-index: 2;
  }
  
  .headline-pic{
    width: 100%;
    height: 300px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    opacity: .4;
    z-index: 1;
  }
  
  .headline-card{
    background-color: white;
    height: 120px;
    padding: 10px 10px 0 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  
  .headline-tag{
    width: 100px;
    background-color: #ffe7e7;
    color: #e91e63;
    text-align: center;
    font-size: .8rem;
    font-weight: bold;
    border: 1px solid #e91e63;
    border-radius: 25px;
    margin: 2px 10px 10px 10px;
  }
  
  .headline-news{
    font-weight: bold;
    padding-left: 10px;
  }
  
  .social-stats{
    padding-top: 10px;
    padding-left: 10px;
  }

  .social-stats-link{
    color: #E84393;
    font-weight: bold;
    padding-left: 20px;
  }

  
  .social-stats-icons{
    width: 30px;
    height: 30px;
    margin: 0 5px 0 5px;
  }
  
  .social-stat-numbers{
    font-weight: bold;
    padding-right: 5px;
    padding-bottom: 2px;
  }

  .box {
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1, 1);
  }
  
  .box:hover::after {
      opacity: 1;
  }
  



  @-webkit-keyframes fadeit{
    0%{
         opacity:1;
    }
    100%{
         opacity:0;
    }
}
@-moz-keyframes fadeit{
    0%{
         opacity:1;
    }
    100%{
         opacity:0;
    }
}
@keyframes fadeit{
    0%{
         opacity:1;
    }
    100%{
         opacity:0;
    }
}


@media only screen and (max-width: 1268px) {
  .main-area{
    max-width: 635px !important;
    width: 635px;
  }

  .headlines{
    max-width: 630px !important;
    width: 100%;
  }

  .main-card{
    max-width: 630px !important;
    width: 100%;
  }

  .headline-pic{
    max-width: 630px;
    width: 100%;
  }

  .headline-tag{
    width: 70px;
    font-size: .65rem;
  }

  .headline-news{
    font-size: .85rem;
  }

  .social-stats{
    font-size: .8rem;
  }
}


@media only screen and (max-width: 982px) {
  .main-area{
    max-width: 100% !important;
    width: 100%;
    padding: 0 42.5px;
    
  }

  .headlines{
    max-width: 100% !important;
    width: 100%;
  }

  .headline-tag{
    width: 90px;
  }

  .main-card{
    max-width: 100% !important;
    width: 100%;
  }
  
  .slide-control{
    width: 20px;
    height: 90px;
    z-index: 3;
    position: absolute;
    padding-top: 10px;
  }
  
  .slide-control-dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .slide-control-dot-active{
    background-color: #E84393;
  }

  .slide-control-dot-inactive{
    background-color: black;
  }

  .overlay{
    background-color: rgba(0,0,0,0.7);
    height: 300px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    z-index: 2;
  }
  
  .headline-pic{
    max-width: 100% !important;
    width: 100%;
    height: 300px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    opacity: .4;
    z-index: 1;
  }
  
  .headline-card{
    background-color: white;
    width: 335px;
    max-width: 100%;
    height: 160px;
    padding: 10px 10px 0 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  
  .headline-tag{
    width: 10 0px;
    background-color: #ffe7e7;
    color: #e91e63;
    text-align: center;
    font-size: .8rem;
    font-weight: bold;
    border: 1px solid #e91e63;
    border-radius: 25px;
    margin: 2px 10px 10px 10px;
  }
  
  .headline-news{
    font-weight: bold;
    padding-left: 10px;
  }
  
  .social-stats{
    padding-top: 15px;
    padding-left: 10px;
  }

  .social-stats-link{
    color: #E84393;
    font-weight: bold;
    padding-left: 20px;
  }
}

