.more-news{
    height: 434px;
    width: 390px;
    flex: 20%

  }
  
  .heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .more-news-card{
    background-color: white;
    border-radius: 7px;
    height: 420px;
    margin-bottom: 10px;
  }
  
  .more-news-item{
    padding: 20px 10px 0 20px;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap
  }

 
  
  .more-news-item-img{
    height: 80px;
    width: 80px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .more-news-item-story{
    width: 250px;
    margin: 0;
    padding-left: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .more-news-item-story p{
    margin: 0;
  }


  @media only screen and (max-width: 1200px) {

  }
  
  @media only screen and (max-width: 768px) {
    .more-news{
      height: 405px;
      width: 200px;
    }

    .more-news-card{
      height: 335px;
      width: 200px;
    }
    
    .more-news-item{
      padding-left: 10px;
      padding-right: 10px;
    }

    .more-news-item-img{
      height: 50px;
      width: 50px;
    }

    .more-news-item-story{
      width: 130px;
      font-size: .7rem;
      padding-left: 15px;
    }
  
  }
  
  
  @media only screen and (max-width: 480px) {
  
  }