html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #F2F2F2;
  overflow-x: hidden;
  /* margin-left: 20px;
  margin-right: 20px; */
}

/* app colors
pink: #E84393
background gray: #F2F2F2
soft black: #3B3B3B
gray: #ACACAC */

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-size: 1.5rem;
}


.container {
  display: flex;
  justify-content: center;
}

.content{
  /* margin-left: 50px;
  margin-right: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}









.flex-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
}





.main-area{
  width: 600px;
  flex-direction: column;
  margin: 0 30px;
}




@media only screen and (max-width: 416px) {

  .content{
    width: 100%;
    margin: 0;
  }

  .menu-icon{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: auto;
    float: left;
  }

  .navbar{
    display: flex;
  }

  .navbar .content{
    margin-left: 10px;
    margin-right: 10px;
  }

  .logo{
    padding-left: 60px;
  }

  .main-area{
    flex-direction: column;
  }

  .stats{
    display: none;
  }

  .search-area{
    width: 30px;
  }

  .sicon{
    width: 30px;
    height: 30px;
  }

  .headlines{
    width: 414px;
    margin: 0;
  }

  .headlines h1{
    display: none;
  }

  .main-card{
    width: 414px;
    height: 350px;
  }

  .slide-control{
    display: none;
  }

  .headline-pic{
    width: 414px;
    height: auto;
    border-radius: 0;
  }

  .headline-card{
    width: 414px;
    height: 110px;
  }

  .social-stats{
    display: none;
  }

  .more-news{
    width: 414px;
  }

  .more-news .heading{
    display: none;
  }

  .more-news-card{
    margin: 0;
  }

  .more-news-item{
    border-bottom: 1px solid grey;
  }

}