.card{
    background-color: white;
    border-radius: 7px;
    height: 88px;
    width: 190px;
    margin-bottom: 30px;
  }
  
  .card-title{
    font-size: .9rem;
    padding: 13px;
    margin-bottom: 0;
    padding-bottom: 0;
  }