.card{
    background-color: white;
    border-radius: 7px;
    height: 88px;
    width: 190px;
    margin-bottom: 30px;
    z-index: -1;
  }
  
  .card-title{
    font-size: .9rem;
    padding: 13px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media only screen and (max-width: 768px) {
    .card{
      height: 75px;
      width: 160px;
    }

    .card-title{
      font-size: .8rem;
    }
  }