.stats{
  
}

.stats-desktop{
  display: contents;
}

.stats-mobile{
  display: none;
}

.filter{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.stats-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 205px;
}

.global-txt{
  color: #E84393;
  margin: 0;
}

.see-more{
  color: #ACACAC;
  margin: 0;
  margin-left: auto;
  z-index: 0;
}

.stat-cards{
  display: flex;
  flex-direction: column;
}

.card-stats-area{
  display: flex;
  flex-direction: row;
}

.green-arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #52D57F;
  margin-left: 25px;
  margin-top: 25px;
}

.green-arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #52D57F;
  margin-left: 25px;
  margin-top: 25px;
}

.red-arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #DC143C;
  margin-left: 25px;
  margin-top: 25px;
}


.case-numbers{
  font-size: 1.4rem;
  margin-left: auto;
  padding: 0 10px;
}

@media only screen and (max-width: 1268px) {
  .global-txt{
    font-size: .8rem;
  }
  
  .see-more{
    font-size: .65rem;
  }

  .card{
    height: 70px;
  }

  .card-title{
    font-size: .8rem;
  }

  .case-numbers{
    font-size: 1.1rem;
    padding-left: 10px;
  }

  .green-arrow-down{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    margin-top: 20px;
  }

  .green-arrow-up{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #52D57F;
    margin-top: 20px;
  }

  .red-arrow-up{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #DC143C;
    margin-top: 20px;
  }


}

@media only screen and (max-width: 768px) {
  .green-arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #52D57F;
    margin-left: 25px;
    margin-top: 25px;
  }
  
  .green-arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #52D57F;
    margin-left: 25px;
    margin-top: 25px;
  }
  
  .red-arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #DC143C;
    margin-left: 25px;
    margin-top: 25px;
  }
}


@media only screen and (max-width: 982px) {
  .stats{
    margin: 0 32.5px !important;
  }

  .stats-desktop{
    display: none;
  }

  .stats-mobile{
    display: contents;
  }

  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  .card h5{
    margin: 0;
    font-size: 1rem;
  }

  .stat{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card .stat:nth-child(1){
    margin-right: auto;
  }

  .card .stat:nth-child(3){
    margin-left: auto;
  }

  .title{
    margin-bottom: 10px !important;
  }

  .case-numbers{
    padding: 0;
  }

  .case-numbers{
    color: #52D57F;
  }

  .recovered-numbers{
    color: #52D57F;
  }

  .death-numbers{
    color: #DC143C;
  }
  

}