.tweets{

}

.tweets div{
  margin-top: 0;
}

.tweets-group{
  display: inline-flex;
}


.tweet-card{
  background-color: white;
  border-radius: 12px;
  height: 80px;
  width: 215px;
  margin: 0 15px 0 0;
  display: flex;
  overflow-y: hidden;

}



.tweet-profile-pic{
  height: 55px;
  width: 55px;
  border-radius: 7px;
  padding: 10px 0px 0 10px;
}

.tweet{
  float: right;
}

.tweet-user{

}

.twitter-username{
  font-size: .7rem;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.twitter-handle{
  font-size: .7rem;
  color: #E84393;
}

.tweet-body{
  color: #909090;
  font-size: .6rem;
  margin: 0;
  padding: 0 5px;
}


@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 480px) {

}